.error {
    color: red;
}

.info {
    color: blue;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover, .marked{
    font-weight: bold;
    text-decoration: underline;
    color: blueviolet;
}

.marked{
    color: indigo;
}

table{
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

td, th{
    border: solid 2px lightgrey;
    border-radius: 5px;
    width: 50%;
    word-wrap: break-word;
}

th{
    font-weight: bold;
}


form{
    width: 600px;
    margin: 0 auto;
}

.error{
    text-align: center;
    color: red;
    font-style: italic;
}

.one_column{
    width: 90%;
}

.three_column{
    width: 32%;
}

.three_column_right{
    text-align: right;
}
